.about-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  --rectangle-width: 400px;
  --rectangle-height: 200px;
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --rotate-z: 0deg;
}

.area {
  width: var(--rectangle-width);
  height: var(--rectangle-height);
  perspective: 600px;
  perspective-origin: center;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y))
    rotateZ(var(--rotate-z)) translateX(0px) translateY(-100px) translateZ(0px);
  /* animation: cubeSpin 1s linear infinite 2s; */
  animation-name: cubeSpin;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
  animation-delay: 1s;
}

@keyframes cubeSpin {
  0% {
    transform: rotateX(0deg) translateY(-100px);
  }
  /* 20% {
    transform: rotateX(720deg) translateY(-100px) ;
  }
  80% {
    transform: rotateX(720deg) translateY(-100px) ;
  } */
  100% {
    transform: rotateX(1440deg) translateY(-100px);
  }
}

/* @keyframes cubeSpin {
  0% {
    transform: rotateX(0deg) translateY(-100px);
  }
  100% {
    transform: rotateX(1440deg) translateY(-100px);
  }
} */

.cube-face-front {
  position: absolute;
  width: var(--rectangle-width);
  height: var(--rectangle-height);
  border: 1px solid rgba(176, 175, 207, 0.548);
}

.cube-face-side {
  position: absolute;
  width: var(--rectangle-height);
  height: var(--rectangle-height);
  border: 1px solid rgba(176, 175, 207, 0.548);
}

.cube-face--front {
  transform: rotateY(0deg) translateZ(100px);
  background: rgba(128, 128, 128, 0.432);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-face--back {
  transform: rotateY(180deg) translateZ(100px);
  background: rgba(0, 0, 0, 0);
}

.cube-face--right {
  transform: rotateY(90deg) translateZ(300px);
  background: rgba(0, 0, 0, 0);
}

.cube-face--left {
  transform: rotateY(90deg) translateZ(-100px);
  background: rgba(0, 0, 0, 0, 0);
}

.cube-face--top {
  transform: rotateX(90deg) translateZ(100px);
  background: rgba(0, 0, 0, 0, 0);
}

.cube-face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background: rgba(0, 0, 0, 0, 0);
}
