.about-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  --rectangle-width: 300px;
  --rectangle-height: 150px;
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --rotate-z: 0deg;
}
