.page {
  height: 100vh;
}

.nav {
  position: absolute;
  padding: 20px 10px;
  left: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav .currently-selected  {
    font-weight: 600;
}