.page {
  display: grid;
  grid-template: auto / 1fr 6fr;
  height: 100vh;
  background: red;
  background: linear-gradient(
    to right,
    var(--bg-colour-1, #536976),
    var(--bg-colour-2, #292e49)
  );
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --rotate-z: 0deg;
}
