.nav {
  position: absolute;
  padding: 20px 10px;
  left: 40px;
  top: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-button--outer {
  margin: 0 0 20px 0;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(10px) translateY(10px);
}

.nav-button--outer > button {
  background: none;
  border: 1px solid transparent;
  padding: 10px;
  font: inherit;
}

.nav-button--outer:last-child {
  margin: 0;
}

.nav .currently-selected {
  border: 1px solid red;
  font-weight: 600;
}
